nav.navigation(role='navigation')
  .navigation-container
    ul.logo-navigation
      li
        a(href='/', title='Jade Almost Flat-UI') Jd
    ul.main-navigation
      li
        a.active(href='/') Home
      li
        a(href='/demo') Demo
      //- li
      //-   a(href='#') Archives
      //- li
      //-   a(href='#') Contact
      //- li
      //-   a(href='#') Feed