!!! 5
html(ng-app)
  include includes/head
  body
    include includes/nav
    //- end
    .row.large-12.coloumns.text-center(style="padding-top:40px")
      block content
    
    include includes/foot