.large-3.columns
  .docs.section-container.accordion(data-section='', data-options='deep_linking: false', style='')
    section.section
      p.title(style='')
        a(href='#') Navigation
      .content(style='')
        ul.side-nav
          li
            a(href='#doc-pagination') Pagination
          li
            a(href='#doc-sidenav') Side Nav
          li
            a(href='#doc-subnav') Sub Nav
          li
            a(href='#doc-topbar') Top Bar
          li
            a(href='#doc-breadcrumbs') Breadcrumbs
    section.section
      p.title(style='')
        a(href='#') Buttons
      .content(style='')
        ul.side-nav
          li
            a(href='#doc-almost-flat-buttons') Almost Flat Buttons
          li
            a(href='#doc-almost-flat-button-groups') Almost Flat Button Groups
    section.section
      p.title(style='')
        a(href='#') Forms
      .content(style='')
        ul.side-nav
          li
            a(href='#doc-forms') Forms
    section.section
      p.title(style='')
        a(href='#') Typography
      .content(style='')
        ul.side-nav
          li
            a(href='#doc-type') Type
          li
            a(href='#doc-labels') Labels
    section.section
      p.title(style='')
        a(href='#') CSS Components
      .content(style='')
        ul.side-nav
          li
            a(href='#doc-alert-boxes') Alert Boxes
          li
            a(href='#doc-panels') Panels
          li
            a(href='#doc-pricing-tables') Pricing Tables
          li
            a(href='#doc-progress-bars') Progress Bars
          li
            a(href='#doc-tables') Tables
          li
            a(href='#doc-thumbnails') Thumbnails
    section.section(style='')
      p.title(style='')
        a(href='#') Javascript
      .content(style='')
        ul.side-nav
          li
            a(href='#doc-clearing') Clearing
          li
            a(href='#doc-section') Section
          li
            a(href='#doc-tooltips') Tooltips