extends ../layout

block content
  include ../includes/splash
  .row(ng-controller="JadeDemos")
    .small-2.columns.text-left(style="margin: 20px 0;")
      img.th(src="http://www.gravatar.com/avatar/{{github.gravatar_id}}?s=300", ng-model="github.avatar_url")
      p {{coderbits.name}}
      p {{coderbits.title}}
      p {{coderbits.location}}
      p {{coderbits.website_link}}
      p {{coderbits.bio}}
      p {{coderbits.views}}
      p {{coderbits.rank}}
    .large-10.columns.text-left
      .panel
        label Filter Badges: showing 20 of {{coderbits.badges.length}}
          input.large(type="text", ng-model="search.name")
        hr
        p(ng-repeat="(key, value) in coderbits.badges | filter:search | limitTo:20")
          img(src="{{value.image_link}}", style="width:20px;")  
          |  {{value.name}}
      hr
    .large-12.columns.text-left
      .row
        .small-2.columns.text-right
          p First Name:
        .large-10.columns.text-left    
          input(type="text", ng-model="name.first")
      .row
        .small-2.columns.text-right
          p Last Name:
        .large-10.columns.text-left    
          input(type="text", ng-model="name.last")
      .row
        .small-2.columns.text-right
          p Items
        .large-10.columns
          select(ng-model="selectedItems", ng-options="string for string in stringArray")

      .row
        .large-10.columns.push-2
          ul
            li(ng-repeat="item in items"){{item.name.first}} {{item.string}}
        .large-10.columns
          button.button(ng-click="updateForm()") {{buttonText.save}}
          button.button(ng-click="add()") {{buttonText.add}}
          button.button(ng-click="listGithub()") Get Github URL
          button.button(ng-click="listCoderbits()") Get Coderbits Client

      //- .row.panel(style="margin: 50px 0; overflow: hidden")
      //-   pre Debug Info: 
      //-   hr
      //-   pre name = {{name}}
      //-   pre stringArray = {{stringArray}}
      //-   pre items = {{items}}
      //-   pre selectedItems = {{selectedItems}}
      //-   pre github = {{github}}
      //-   pre coderbits = {{coderbits}}
  script.
    var jadeDemos = angular.module('jadeApp', []);

    JadeDemos = function ($scope, $http) {

      $scope.listGithub = (function () {
        $http({method: "GET", url: "https://api.github.com/users/dhigginbotham"}).
          success(function (data, status, headers, config) {
            $scope.github = data;
          });
      })();

      $scope.listCoderbits = (function () {
        $http({method: "JSONP", url: "https://coderbits.com/dhz.json?callback=loadCoderbits"})
      })();

      loadCoderbits = function (data) {
        $scope.coderbits = data;
      };

      $scope.buttonText = {
        save: "Save",
        add: "Add"
      };


      $scope.updateForm = function() {
        $scope.buttonText.save = "Updated";
      }

      $scope.add = function() {
        $scope.buttonText.add = "Added";
        $scope.items.push({name: {first: $scope.name.first, last: $scope.name.last}, string: $scope.selectedItems});
      }
      
      $scope.name = {
        "first": "Dave",
        "last": "Higginbotham"
      }

      $scope.items = [];
      $scope.stringArray = ['dave', 'higgy', 'is', 'the', 'coolest'];

    };
